@import "styles/breakpoints.scss";

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #fff6cc;
  color: #333;
}

.aboutUsTitle {
  font-weight: 700;
}

.profileAvatar {
  background-color: var(--main-background);
  border-radius: 50%;
  height: 221px;
  width: 221px;

  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.profilePicture {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.aboutUsDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: justify;
  text-justify: inter-word;

  width: 92%;

  @include media(">=laptop") {
    width: 960px;
  }
}
