@import "styles/breakpoints.scss";

.projectItem {
  width: 205px;
  height: 200px;
  display: flex;
  flex-direction: column;

  background-color: var(--white-color);
  color: var(--main-background);

  align-items: center;
  justify-content: center;
  text-align: center;

  position: relative;

  @include media(">=laptop") {
    width: 255px;
    height: 250px;
    transition: 0.5s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.newProjectTag {
  height: 37px;
  width: 37px;
  background-color: var(--new-item-color);

  border-radius: 50%;

  position: absolute;
  top: -17px;
  left: -17px;
}
