@import "styles/breakpoints.scss";

.navBar {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;

  background-color: var(--main-background);
  z-index: 10;

  @include media(">=laptop") {
    width: 960px;

    /* From https://css.glass */
    background: rgba(15, 28, 37, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(15, 28, 37, 0.3);
  }
}

.navName {
  font-weight: 700;
  flex-shrink: 0;
}

.menu {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(15, 28, 37, 0.15),
    rgba(15, 28, 37, 0.75),
    rgba(15, 28, 37, 1)
  );

  padding: 20px 0;

  position: fixed;
  top: 45px;
  right: -100%;

  transition: right 0.4s;

  @include media(">=laptop") {
    background-image: none;
    position: initial;
    padding: 0;
    height: auto;
  }
}

.showMenu {
  right: 0;
}

.navButton {
  @include media(">=laptop") {
    display: none;
  }
}

.navList {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;

  @include media(">=laptop") {
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
  }
}

.navListItem {
  margin: 20px 0;

  @include media(">=laptop") {
    margin: 0;
  }
}

.navOption {
  padding: 16px 20px;
  flex-shrink: 0;

  @include media(">=laptop") {
    transition: 0.4s;

    &:hover {
      background-color: var(--main-font-color);
      color: var(--main-background);
      font-weight: 700;
    }
  }
}
